<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dentalavenue.dentalavenue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".bean"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.sdk.ApplicationId"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity" />
        <activity android:name=".Wishlist" />
        <activity android:name=".cart" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Myprofile" />
        <activity android:name=".Edit" />
        <activity android:name=".Register" />
        <activity android:name=".Logout" />
        <activity android:name=".LoginType" />
        <activity
            android:name=".Cutomerlogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Docterlogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Registerdoctor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Registercustomer"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Homepage" />
        <activity android:name=".Offers" />
        <activity android:name=".Search" />
        <activity android:name=".Rating" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" />
        <activity android:name=".Reviews"></activity>
    </application>

</manifest>